@layer base {
  input[type='range'] {
    -webkit-appearance: none;
    @apply w-full rounded-full;
  }
  input[type='range']::-webkit-slider-container {
    @apply overflow-hidden;
    border-radius: inherit;
  }

  input[type='range']::-webkit-slider-runnable-track {
    @apply w-full h-full min-h-[2px] cursor-pointer transition-colors duration-500;
    border-radius: inherit;
  }
  input[type='range']::-moz-range-track {
    @apply w-full h-full min-h-[2px] cursor-pointer transition-colors duration-500;
    border-radius: inherit;
  }
  input[type='range']:focus::-webkit-slider-runnable-track {
    @apply bg-primary duration-150;
  }
  input[type='range']:focus::-moz-range-track {
    @apply bg-primary duration-150;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: 50vw 0 0 50vw theme('colors.tertiary.2');
    @apply h-full w-0 cursor-pointer;
  }
  input[type='range']::-moz-range-thumb {
    box-shadow: 50vw 0 0 50vw theme('colors.tertiary.2');
    @apply h-full w-0 cursor-pointer;
  }
}
