@layer base {
  input[type='range'] {
    -webkit-appearance: none;
    @apply w-full rounded-sm;
  }
  input[type='range']::-webkit-slider-container {
    overflow: hidden;
  }
  input[type='range']::-webkit-slider-runnable-track {
    @apply w-full h-full min-h-[8px] cursor-pointer bg-gray-500;
  }
  input[type='range']::-moz-range-track {
    @apply w-full h-full min-h-[8px] cursor-pointer bg-gray-500;
  }
  input[type='range']:focus::-webkit-slider-runnable-track {
    @apply bg-tertiary-light;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: 50vw 0 0 50vw theme('colors.gray.300');
    @apply h-full w-0 cursor-pointer;
  }
  input[type='range']::-moz-range-thumb {
    box-shadow: 50vw 0 0 50vw theme('colors.gray.300');
    @apply h-full w-0 cursor-pointer;
  }
}
